<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/login"></ion-back-button>
      </ion-buttons>
    <ion-title>Join Quizical Now</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <form [formGroup]="signupForm">
          <ion-list lines="full" class="ion-no-margin ion-no-padding">
            <ion-item>
              <ion-label position="stacked">First name:</ion-label>
              <ion-input
                type="fstname"
                [(ngModel)]="fstname"
                formControlName="first"
                placeholder="Enter your first name"
                [class.invalid]="!signupForm.controls['first'].valid && signupForm.controls['first'].touched"
              ></ion-input>
            </ion-item>
            
            <ion-item>
            <ion-label position="stacked">Email:</ion-label>
            <ion-input
              type="email"
              [(ngModel)]="email"
              formControlName="email"
              placeholder="Enter email"
              [class.invalid]="!signupForm.controls['email'].valid && signupForm.controls['email'].touched"
            ></ion-input>
          </ion-item>
          <ion-item
            class="error-message"
            *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched">
            <ion-label>Please enter a valid email address.</ion-label>
        </ion-item>

            <ion-item>
              <ion-label position="stacked">Password:</ion-label>
              <ion-input
                [(ngModel)]="password"
                formControlName="password"
                placeholder="Enter password"
                type="password"
              ></ion-input>
            </ion-item>
          </ion-list>
      
          <ion-button expand="block" type="submit" (click)="processForm(signupForm)" [disabled]="!signupForm.valid">signup</ion-button>
  </form>
</ion-content>
