<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Leaderboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
<ion-title>Top 10 Quiz Masters</ion-title>
<ol>
  <li>{{l1[0]}} {{l2[0]}} scored {{l3[0]}}/5 on {{l4[0]}}</li>
  <li>{{l1[1]}} {{l2[1]}} scored {{l3[1]}}/5 on {{l4[1]}}</li>
  <li>{{l1[2]}} {{l2[2]}} scored {{l3[2]}}/5 on {{l4[2]}}</li>
  <li>{{l1[3]}} {{l2[3]}} scored {{l3[3]}}/5 on {{l4[3]}}</li>
  <li>{{l1[4]}} {{l2[4]}} scored {{l3[4]}}/5 on {{l4[4]}}</li>
  <li>{{l1[5]}} {{l2[5]}} scored {{l3[5]}}/5 on {{l4[5]}}</li>
  <li>{{l1[6]}} {{l2[6]}} scored {{l3[6]}}/5 on {{l4[6]}}</li>
  <li>{{l1[7]}} {{l2[7]}} scored {{l3[7]}}/5 on {{l4[7]}}</li>
  <li>{{l1[8]}} {{l2[8]}} scored {{l3[8]}}/5 on {{l4[8]}}</li>
  <li>{{l1[9]}} {{l2[9]}} scored {{l3[9]}}/5 on {{l4[9]}}</li>
</ol>
</ion-content>
