<ion-header>
  <ion-toolbar>
    <ion-title>Quiz</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      {{question[0]}}
    </ion-item>
    <ion-radio-group>
    <!-- <ion-item *ngFor="let item of order">
      {{ answers[item] }}
      <ion-radio expand="block" fill="outline" value={{answers[item]}} (ion-select)="print(55)">    
      </ion-radio>
    </ion-item> -->
    <ion-item>
        {{ answers[order[0]] }}
        <ion-radio slot="end" expand="block" fill="outline" value=0 (click)="setQuestionNum(0)" [checked]="false"></ion-radio>
      </ion-item>
      <ion-item>
          {{ answers[order[1]] }}
          <ion-radio slot="end" expand="block" fill="outline" value=1 (click)="setQuestionNum(1)" checked={{isChecked}}>    
          </ion-radio>
        </ion-item>
        <ion-item>
            {{ answers[order[2]] }}
            <ion-radio slot="end" expand="block" fill="outline" value=2 (click)="setQuestionNum(2)" checked={{isChecked}}>    
            </ion-radio>
          </ion-item>
          <ion-item>
              {{ answers[order[3]] }}
              <ion-radio slot="end" expand="block" fill="outline" value=3 (click)="setQuestionNum(3)" checked={{isChecked}}>    
              </ion-radio>
            </ion-item>
  </ion-radio-group>
    <!-- <ion-item>
        <ion-button expand="full" type="submit"  (click)="setQuestionNum()">
          Submit
        </ion-button>
    </ion-item> -->
  </ion-list>
</ion-content>
