<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>More To Come</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <br>
  <ion-title>Quizzes coming soon</ion-title>
  <ul>
    <li>General Knowledge Quiz 2</li>
    <li>Math Quiz 2</li>
    <li>Vocab Knowledge Quiz 2</li>
    <li>Movie Quiz 2</li>
    <li>Music Quiz 2</li>
    <li>C# Basics Quiz</li>
    <li>Java Advanced Quiz</li>
    <li>Borderlands Quiz</li>
    <li>Farcry Quiz</li>
    <li>Halo Quiz</li>
    <li>Gears of War Quiz</li>
    <li>Spyro Quiz</li>
  </ul>
</ion-content>
